html {
    padding: 3%;
    background-color: white;
}

header, footer {
    padding: 10px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: dodgerblue;
}

nav .rightnav a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    float: right;
    font-size: 15px;
    font-weight: 200;
}
nav .leftnav a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    float: left;
    font-size: 17px;
    font-weight: 200;
}


nav .rightnav a:hover{
    background-color: white;
    color: black;
    font-size: 17px;
}
nav a.active{
    background-color: deepskyblue;
    color: black;
    font-size: 17px;
    font-style: italic;
    font-weight: 1000;
}

#container1{   
    background-image: url(./images/htmlTrans.png);
    width: 50%;
    color: white;
    float: left;
    text-align: center;
    height: 450px;
    font-size: x-large;
    
}
#container1:hover{   
    background-image: url(./images/html.png);  
    font-size: xx-large;  
}
#container2:hover{   
    background-image: url(./images/download.png);
    font-size: xx-large;    
}
#container3:hover{   
    background-image: url(./images/AI.jpg); 
    font-size: xx-large;   
}
#container4:hover{   
    background-image: url(./images/APi.png); 
    font-size: xx-large;   
}

#container2{   
    background-image: url(./images/downloadTrans.png);
    width: 50%;
    color: white;
    float: left;
    text-align: center;
    height: 450px;
    font-size: x-large;
}
#container3{   
    background-image: url(./images/AITrans.jpg);
    width: 50%;
    color: white;
    float: left;
    text-align: center;
    height: 450px;
    font-size: x-large;
}
#container4{   
    background-image: url(./images/APiTrans.png);
    width: 50%;
    color: white;
    float: left;
    text-align: center;
    height: 450px;
    font-size: x-large;
}

.text{
    padding-top: 200px;
    position: relative;
    color: white;
}
.text p{
    color: white;
}

body {
    background-color: grey;
    color: aliceblue;
}